//custom variables
$primary: #ff9a41;

//import the functions & variables
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-theme-colors: (
	'section': #f4f4f4,
	'altdark': #522192,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
